<widget name="hottest_articles">
    <div class="tc-box">
        <div class="headtitle">
            <h2>{{site.company}}</h2>
        </div>
        <div class="ranking">
            <ul class="list-unstyled">
                
                <li class="top3">
                    <i>1</i>
                    <a title=""  href="{{site.baseurl}}/about/company.html">公司概况</a>
                </li>
                <li class="top3">
                    <i>2</i>
                    <a title=""  href="{{site.baseurl}}/about/lianxiwomen.html">联系我们</a>
                </li>
                <li class="top3">
                    <i>3</i>
                    <a title=""  href="{{site.baseurl}}/fuwu/yxdl.html">营销代理</a>
                </li>
                <li>
                    <i>4</i>
                    <a title=""  href="{{site.baseurl}}/fuwu/zjzx.html">全案策划</a>
                </li>
                <li>
                    <i>5</i>
                    <a title=""  href="{{site.baseurl}}/fuwu/zbdl.html">创意广告设计</a>
                </li>
                <li>
                    <i>6</i>
                    <a title=""  href="{{site.baseurl}}/fuwu/bim.html">应用软件开发</a>
                </li>
            </ul>
        </div>
    </div>
</widget>